<div class="row ">
  <div class='card card blue-grey darken-1 '>
    <div class='card-content'>
     <span class='card-title white-text'>Edit Account</span> 
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "off",  class: "form-control col-md-4" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control col-md-4" %>
            </div>

            <div class="field">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control col-md-4" %>
            </div>

            <div class="actions">
              <%= f.submit "Update", class: "btn btn-sm btn-success" %>
            </div>
          <% end %> 
      </div>
    </div>
  </div>
