<div class="row">
  <div class="col s6 offset-s3">
    <div class="card z-depth-2">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="card-content">
          <span class="card-title black-text">Register a new shop!</span>

          <br><br>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :email %>
              <%= f.email_field :email,autofocus: true %>
            </div>
            <div class="input-field col s12">
              <%= f.label :password %>
              <% if @validatable %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password %>
            </div>
            <div class="input-field col s12">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation %>
            </div><br />
            <div  class="input-field col s12">
              <%= label_tag :store_name %>
              <%= text_field_tag :store_name %>
            </div>
          </div>
        </div>

        <div class="card-action">
          <button class="btn waves-effect waves-light" type="submit" name="commit">
            <span>Sign up</span>
            <i class="tiny material-icons">file_upload</i>
          </button>
          <%= link_to new_user_session_path, class: "btn waves-effect waves-light" do %>
            Login <i class='tiny material-icons'>send</i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
