li.notif-item
	i.material-icons.left.inline add_box
	.inline.left
	    = activity.owner ? activity.owner.name : 'nil'
	    - if a.trackable
	     | created an order 
	     = link_to "##{a.trackable.id}", a.trackable, class: 'inline no-padding' 
	    - else
	     | added an order is currently deleted.
	    br    
	    small.left
	      = time_ago_in_words(a.created_at) 
	      |  ago