li.notif-item
	i.material-icons.left.inline border_color
	.inline.left
	    = a.owner ? a.owner.name : 'nil'
	    - if a.trackable 
	     | edited an order 
	     = link_to a.trackable.id, a.trackable, class: 'inline no-padding'  
	    - else 
	     | edited an order that is currently deleted.
	    br
	    small.left
	  	  = time_ago_in_words(a.created_at) 
	  	  |  ago

