<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default shadow">
      <div class="panel-heading item-heading">All Users
        <%#= link_to "New Item", new_item_path, class: "btn btn-info btn-sm pull-right" %>
      </div>
      <div class="panel-body">
        <div class="table-responsive col-md-12 row-fluid">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Email</th>
                <th>Position</th>
                <th colspan="3">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each_with_index do |user, index| %>
                <tr>
                  <td><%= user.email %></td>
                  <td><%= "Admin" if user.is_admin %></td>
                  <td>
                    <%unless user.approved%>
                      <%= link_to "Approve", "/admin/approve?id=#{user.id}", class: "btn btn-sm btn-success" %>
                    <%else%>
                      Approved
                    <%end%>
                  </td>
                  <td>
                    <%unless user.is_admin%>
                      <%= link_to "Make Admin", "/admin/make_admin?id=#{user.id}", class: "btn btn-sm btn-primary" %>
                    <%else%>
                      Admin
                    <%end%>
                  </td>
                  <td><%= link_to 'Destroy', "/admin/destroy_user?id=#{user.id}" , data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>