li.notif-item
	i.material-icons.left.inline shopping_cart
	.inline.left
	    = a.owner ? a.owner.name : 'nil'
	    - if a.trackable 
	     | added stock to 
	     = link_to a.trackable.name, a.trackable, class: 'inline no-padding'  
	    - else 
	     | added stock to an item that is currently deleted.
	    br
	    small.left
	      = time_ago_in_words(a.created_at) 
	      |  ago
