li.notif-item
	i.material-icons.left.inline add_box
	.inline.left
	    = a.owner ? a.owner.name : 'nil' 
	    - if a.trackable 
	     | added an item 
	     = link_to a.trackable.name, a.trackable, class: 'inline no-padding'  
	    - else 
	     | added an item that is currently deleted.
	    br
	    small.left
	      = time_ago_in_words(a.created_at) 
	      |  ago