li.notif-item
	i.material-icons.left.inline delete
	.inline.left
	    = activity.owner ? activity.owner.name : 'nil'
		| deleted an item.
	    br
	    small.left
	      = time_ago_in_words(a.created_at) 
	      |  ago