li.notif-item
  i.material-icons.left.inline warning
  .inline.left
      = a.owner ? a.owner.name : 'nil'
      - if a.trackable 
        = link_to a.trackable.name, a.trackable, class: 'inline no-padding'  
        |  is out of stock 
      - else 
        |  item deleted
      br  
      small.left
        = time_ago_in_words(a.created_at) 
        |  ago