<div class="row">
  <div class="col m6">
    <div class="card blue-grey darken-1 order-form-fixed-height">
      <div class="heading">
        <span class="card-title">Search Item</span>
      </div>
      <div class="card-content white-text">
        <input type="text" class="form-control" id="search" name="Search Item" placeholder="Enter Item Name..." />
        <table class="seached-items-table">
         <thead>
           <tr>
             <th>Name</th>
             <th>Price</th>
             <th>Action</th>
           </tr>
         </thead>
         <tbody>
         </tbody>
       </table>
      </div>
    </div>
  </div>

  <div class="col m6">
    <div class="card blue-grey darken-1 order-form-fixed-height">
      <%= form_for @order , action: :create do |f|%>
        <div class="heading">
          <span class="card-title">New Order</span>
        </div>
        <div class="card-content white-text">
          <table class="order-items-list">
            <thead>
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <div class="row">
            <%= f.submit "Save", class: "btn right" %>            
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>

<script type="text/javascript">
  // code for barcode scanner
  $(document).ready(function() {
    var pressed = false;
    var chars = [];
    $(window).keypress(function(e){
      if (e.which >= 48 && e.which <= 57){
        chars.push(String.fromCharCode(e.which));
      }
      if (pressed == false) {
        setTimeout(function(){
          if (chars.length >= 10){
            var barcode = chars.join("");
            $.getJSON( "/items/find_by_code", { code: barcode , dataType: 'json' } )
              .done(function( items ) {
                console.log( "Response: " + items.length );
                if(items.length > 0){
                  for(i=0 ; i < items.length ; i++ ){

                    addOrInsertToOrder(items[i]);

                  }
                }
                else{ alert('Item Not Found') }
              })
              .fail(function( jqxhr, textStatus, error ) {
                var err = textStatus + ", " + error;
                console.log( "Request Failed: " + err );
                alert('Error');
              });
            }
            chars = [];
            pressed = false;
        },500);
      }
      pressed = true;
    });
  });
</script>
