<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default shadow">
      <div class="panel-heading">Edit Order
      </div>
      <div class="panel-body">
        <div class="table-responsive col-md-12 row-fluid">
          <table class="table table-bordered table-striped order-items-list">
            <thead>
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @order.items.uniq.each_with_index do |item, index| %>
                <tr>
                  <td><%= item.name %></td>
                  <td><%= item.sell_price %></td>
                  <td><%= get_quantity(@order.id, item.id) %></td>
                  <td>
                    <div class="order-actions">
                      <%= link_to "Remove", "/orders/#{item.id}/remove_items?order_id=#{@order.id}", class: "btn btn-xs btn-danger" %>
                      <a href="#" class="btn btn-xs btn-success" data-toggle="modal" data-target="#myModal<%= index %>"><i class="fa fa-plus"></i> Edit Quantity</a>

                      <div class="modal fade" id="myModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              <h4 class="modal-title" id="myModalLabel">Edit Quantity</h4>
                            </div>
                            <%= form_tag(edit_quantity_order_path(@order.id), :method=>"put")  do  %>
                              <div class="modal-body">
                                <%= hidden_field_tag "item_id",  item.id %>
                                
                                <div class="row form-fields">
                                  <div class="col-md-3">
                                    <label class="control-label" >New Quantity</label>
                                  </div>
                                  <div class="col-md-6">   
                                    <%= text_field_tag "new_quantity", get_quantity(@order.id, item.id), class: 'form-control' %>
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <%= submit_tag "Save",:class=>"btn btn-primary next"%>
                              </div>
                            <% end %> 
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%=link_to "Update", order_ready_order_path(@order), class: "btn btn-succes btn-md"%>
      </div>
    </div>
  </div>
</div>



<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
<script>
</script>