<div class="row">
  <div class="col s12 m12">
    <div class='card card blue-grey darken-1'>
      <div class="heading hvr-underline-from-center">
        <span class="card-title">Serch Invoice#</span>
        <i class="material-icons right close">keyboard_arrow_up</i>
      </div>
      <div class='card-content'>
        <div class="search-from">
          <%= search_form_for @q do |f| %>
            <%= f.label 'Invoice#' %>
            <%= f.search_field :sequential_id_start %>
            <div class="hidden-search-menu">
              <%= f.label :sequential_id_or_created_at_or_total_start %>
              <%= f.search_field :sequential_id_or_created_at_or_total_start %>
            </div>

            <div>
              <button class="btn waves-effect waves-light" type="submit" name="action">Search
                <i class="material-icons right">send</i>
              </button>
              <i class="right small material-icons expand_more">expand_more</i>
              <i class="right small material-icons expand_less">expand_less</i>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row"> 
   <div class="col s12 m12">
    <div class='card card blue-grey darken-1 '>
      <div class="heading hvr-underline-from-center">
        <span class="card-title">Orders List</span>
        <i class="material-icons right close">keyboard_arrow_up</i>
      </div>
      <div class='card-content'>
        <div class="col-md-12">
          <div class="row center-align">
            <%= paginate @orders %>
          </div>
          <table class="table order-items-list custom-list">
            <thead>
              <tr>
                <th><%= sort_link(@q, :sequential_id, 'Invoice#', default_order: :asc) %></th>
                <th><%= sort_link(@q, :state,         'State',    default_order: :desc) %></th>
                <th><%= sort_link(@q, :cashout_time,  'Cashout time',  default_order: :asc) %></th>
                <th><%= sort_link(@q, :total,         'Total',  default_order: :desc) %></th>
                <th><%= sort_link(@q, :payment,       'Payment',  default_order: :desc) %></th>
                <!-- <th colspan="3">Actions</th> -->
               </tr>
            </thead>

            <tbody>
              <% @orders.each do |order| %>
                <tr>
                  <td><%= link_to "##{order.sequential_id}", order_path(order.sequential_id), class: "btn btn-success btn-xs" %></td>
                  <td><span class="badge badge-edited badge-<%= order.state %>"><%= order.state %></span></td>
                  <td><%= order.cashout_time.to_formatted_s(:local_format) if order.cashout_time.present? %></td>
                  <td><%= order.total %></td>
                  <td><%= order.payment %></td>
                  <!-- <td><%= link_to 'Show', order_path(order.sequential_id), class: "btn btn-success btn-xs" %></td> -->
                  <% if current_user.is_admin? %>
                    <!-- <td><%= link_to 'Destroy', order_path(order.sequential_id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td> -->
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
  <div class='fixed-action-btn' style="bottom: 45px; right: 24px;">
    <a class='btn-floating btn-large red modal-trigger' href='<%= new_order_path %>'>
      <i class='large material-icons'>add</i>
    </a>
  </div>
</div>
