<div class="row order-ready">
  <div class="col s12 m12">
    <div class="card blue-grey darken-1 white-text">
      <div class="card-content">
        <div class="row"> 
          <div class="col s6 m4">
            <h4 style="margin-top: 10px;">Order #<%= @order.sequential_id %></h4>
          </div>
          <div class="col s6 m4 offset-m4 right-align">
            <p>Invoice# <%= @order.sequential_id %></p>
            <p><%= DateTime.now.to_formatted_s(:local_format) %></p>
            <p><%= current_user.email %></p>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Unit Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <% @order.items.each do |item| %>
              <tr>
                <td><%= item.name %></td>
                <td><%= item.sell_price %></td>
                <td><%= get_quantity(@order.id, item.id) %></td>
                <td><%= get_quantity(@order.id, item.id) * item.sell_price %></td>
              </tr>
            <% end %>
          </tbody>
        </table> 
      </div>
      <div class="card-action">
        <%= form_for @order, url: { action: :cash_out }, method: :patch do |f| %>
          <div class="row">
            <div class="col m4">
              <%= f.label :total %>
              <%=f.number_field :total, value: @order.total, id: 'order-total', class: 'form-control', disabled: true %>
            </div>
            <div class="col m4">
              <%= f.label :payment %>
              <%=f.number_field :payment, id: 'order-payment', class: 'form-control', min: 0, autofocus: 'autofocus' %>
            </div>
            <div class="col m4">
              <%= f.label :balance %>
              <input type='number' id='balance_num' disabled />
            </div>
          </div>
          <div class="row right">
            <%= f.submit 'Cash Out', class: "btn" %>
          </div>
        <%end%>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $('#order-payment').on('input', function(){ 
    $('#balance_num').val( ($(this).val() - $('#order-total').val()).toFixed(2) );
  });
</script>
