<div class="row white-text">

  <div class="col s12 m6">
    <div class="card blue-grey darken-1 large">
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <% @order.items.each do |item| %>
              <tr>
                <td><%= item.name %></td>
                <td><%= item.sell_price %></td>
                <td>
                  <% quantity = get_quantity(@order.id, item.id) %>
                  <% if(item.category.name == 'bakery') %>
                    <input class='current_items' step='any' min=0 max=<%=quantity%> type='number' data-id='<%=item.id%>' data-quantity='<%=quantity%>' value=<%=quantity%> />
                  <% else %>
                    <input class='current_items' min=0 max=<%=quantity%> type='number' data-id='<%=item.id%>' data-quantity='<%=quantity%>' value=<%=quantity%> />
                  <% end %>
                </td>
                <td><%= link_to "<i class='tiny material-icons' >open_in_new</i>".html_safe, item_path(item.sequential_id), :target => '_blank' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>         
      <div class="card-action">
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card blue-grey darken-1 large">
    <%= form_tag order_return_order_path do %>
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th>Item Name</th>
              <th>Price</th>
              <th>Add</th>
            </tr>
          </thead>
          <tbody>
            <% @order.items.each do |item| %>
              <tr>
                <td><%= item.name %></td>
                <td><%= item.sell_price %></td>
                <td>  
                  <% quantity = get_quantity(@order.id, item.id) %>
                  <input readonly step='any' max=0 min=<%=quantity*-1%> type='number' name='item_ids[<%=item.id%>]' value=0 />
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>         
      <div class="card-action">
        <%= submit_tag "Save", class: "btn right" %>
      </div>
    <% end %>
    </div>
  </div>

</div>

<script type="text/javascript">
$(".current_items").change(function(){
  $("[name='item_ids["+ $(this).data('id') +"]']").val( (($(this).data('quantity') -  $(this).val()) * -1).toFixed(2) );
});
</script>
