<div class="row order-show">
  <div class="col s12 m12">
    <div class="card blue-grey darken-1 white-text">
      <div class="card-content">
        <div class="row">
          <div class="col s6 m4">
            <h4>Order #<%= @order.sequential_id %></h4>
          </div>
          <div class="col s6 m4 offset-m4 right-align">
            <p>Invoice# <%= @order.id %></p>
            <span class="badge badge-<%= @order.current_state %>"><%= @order.current_state.to_s.humanize %></span>
            <br>
            <p><%= DateTime.now.to_formatted_s(:local_format) %></p>
            <p><%= current_user.email %></p>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <% @order.items.each do |item| %>
              <tr>
                <td><%= item.name %></td>
                <td><%= item.sell_price %></td>
                <td><%= get_quantity(@order.id, item.id) %></td>
                <td><%= item.sell_price*get_quantity(@order.id, item.id) %></td>
                <td><%= link_to "<i class='tiny material-icons'>open_in_new</i>".html_safe, item_path(item.sequential_id), :target => '_blank' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="row">
          <ul class="right-align">
            <li> Total: <%= @order.total %> </li>
            <li> Payment: <%= @order.payment %> </li>
            <li> Balance: <%= (@order.payment - @order.total) if @order.payment.present? %> </li>
          </ul>
        </div>
      </div>         
      <div class="card-action">
        <% unless @order.void? %>
          <% unless @order.return? %>
            <%= link_to 'Return', return_order_path(@order.sequential_id), class: 'btn', id: 'edit-order-btn' %>
          <% end %>
          <%= link_to 'Mark Void', mark_void_order_path(@order.sequential_id), method: :patch, data: { confirm: 'Are you sure?' }, class: "btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
