<div class="row">
  <div class="col s12 m12">
    <div class='card card blue-grey darken-1'>
      <div class="heading hvr-underline-from-center">
        <span class="card-title">ToDo's</span>
        <i class="material-icons right close">keyboard_arrow_up</i>
      </div>
      <div class='card-content'>
        <table class="table custom-list">
          <thead>
            <tr>
              <th>ID #</th>
              <th>Title</th>
              <th>Status</th>
              <th>Description</th>
              <th>Due date</th>
              <th>Alert type</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @to_dos.each do |to_do| %>
              <tr>
                <td><%= link_to "##{to_do.sequential_id}", to_do_path(to_do.sequential_id), class: "btn btn-success btn-xs" %></td>
                <td><%= to_do.title %></td>
                <td><span class="badge badge-edited badge-<%= to_do.is_done %>"><%= to_do.is_done ? 'Yes' : 'No' %></span></td>
                <td><%= to_do.description %></td>
                <td><%= to_do.due_date %></td>
                <td><%= to_do.alert_type %></td>
                <td>
                  <%= link_to 'Edit', edit_to_do_path(to_do.sequential_id) %> | 
                  <%= link_to 'Mark Done', mark_done_to_do_path(to_do.sequential_id) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

  <div class='fixed-action-btn' style="bottom: 45px; right: 24px;">
    <a class='btn-floating btn-large red modal-trigger' href='#new_to_do_modal'>
      <i class='large material-icons'>add</i>
    </a>
  </div>

  <div id="new_to_do_modal" class="modal modal-fixed-footer">
    <%= form_for ToDo.new do |f| %>
      <div class='modal-content'>
        <div class="row">
          <div class="input-field">
            <%= f.text_field :title , autofocus: true %>
            <%= f.label :title %>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <%= f.text_area :description %>
            <%= f.label :description %>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <%= f.datetime_select :due_date %>
            <%= f.label :due_date %>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <%= f.text_field :alert_type %>
            <%= f.label :alert_type %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="input-field">
            <%= f.submit %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  

