<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @to_do.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @to_do.description %>
</p>

<p>
  <strong>Store:</strong>
  <%= @to_do.store_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @to_do.user_id %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @to_do.due_date %>
</p>

<p>
  <strong>Alert type:</strong>
  <%= @to_do.alert_type %>
</p>

<%= link_to 'Edit', edit_to_do_path(@to_do.sequential_id) %> |
<%= link_to 'Back', to_dos_path %>
