<div class="row">
  <div class="col s6 offset-s3">
    <div class="card z-depth-2">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name),  html: { class: "" }) do |f| %>
        <div class="card-content">
          <span class="card-title black-text">Sign In</span>

          <br><br><br>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <%= f.email_field :email, autofocus: true, class: 'validate', placeholder: 'Enter your email' %>
              <%= f.label :email, '', class: 'active' %>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">phone</i>
              <%= f.password_field :password, class: 'validate', placeholder: 'Enter your password' %>
              <%= f.label :password, '', class: 'active' %>
            </div>
          </div>
        </div>

        <div class="card-action">
          <div class="row">
            <% if devise_mapping.rememberable? -%>
              <div>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="commit">Log In
            <i class="material-icons right">send</i>
          </button>
          <%= link_to new_user_registration_path, class: "btn waves-effect waves-light" do %>
            Sign Up <i class='material-icons'>file_upload</i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
