
  <%= form_tag update_multiple_items_path do %>
    <%= hidden_field_tag :batch_action, params[:batch_action] %>

    <div class="modal-content">
      <table class="table custom-list">
        <thead>
          <tr>
            <th>Item#</th>
            <th>Name</th>
            <th>Current Price</th>
            <th>Current Stock</th>
            <% if params[:batch_action] == 'set_price' %>
              <th>New Price</th>
            <% else %>
              <th>Add Stock</th>
              <th>Unit Price</th>
              <th>Total Price</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td>#<%= item.sequential_id %></td>
              <td><%= item.name %></td>
              <td><%= item.sell_price %></td>
              <td><%= item.stock %></td>
              <% if params[:batch_action] == 'set_price' %>
                <th><%= number_field_tag "sell_prices[#{item.id}]", 0, required: "required", step: "any", min: 1 %></th>
              <% else %>
                <td>
                  <input type='number' name='stock_quantities[<%= item.id %>]' data-item-id='<%= item.id %>' class='batch_stock' step='any' min='1' value=0 />
                </td>
                <td>
                  <% unit_price = item.stock_histories.present? ? item.stock_histories.last.unit_price : 0 %>
                  <input type="number" name='unit_prices[<%= item.id %>]' data-item-id='<%= item.id %>' class='batch_unit' step="any" min='1' value="<%= unit_price %>" />
                </td>
                <td>
                  <input type="number" name='total_prices[<%= item.id %>]' data-item-id='<%= item.id %>' class='batch_total' step="any" min='1' />
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <%= submit_tag :update, class: 'btn btn-flat right' %>
    </div>

  <% end %>
