<div>
  <%= form_for @item, html: { multipart: true } do |f| %>
    <div class="modal-content">
      <h1>New Item</h1>
      <div class="row">
        <% if @item.errors.any? %>
          <div id="error_explanation row">
            <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

            <ul>
            <% @item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <div class="input-field">
        <%= f.text_field :name, required: "required" %>
        <%= f.label :name, '', class: 'active' %>
      </div>
 
      <br><br>
      <div class="input-field">
        <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name) %>
        <%= f.label :category_id, 'Category', class: 'active' %>
      </div>

      <br>
      <div class="input-field">
        <%= f.number_field :sell_price, required: "required", step: "any", min: 0 %>
        <%= f.label :sell_price, '', class: 'active' %>
      </div>
    
      <br>
      <div class="input-field" id='item-code-div' >
        <%= f.text_field :code, required: "required" %>
        <%= f.label :code, '', class: 'active' %>
      </div>

      <br>
      <div class="input-field">
        <%= file_field_tag :image %>
      </div>
      <br>
      
      <div class="input-field">
        <%= f.number_field :stock, min: 0 %>
        <%= f.label :stock, '', class: 'active' %>
      </div>
      
      <br>
      <div class="input-field">
        <%= f.number_field :stock_threshold, min: 0 %>
        <%= f.label :stock_threshold, '', class: 'active' %>
      </div>
    
      <br>
      <div class="input-field">
        <%= f.text_area :description, rows: "3", class: 'materialize-textarea' %>
        <%= f.label :description, '', class: 'active' %>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light btn-flat" type="submit" name="action" >
        Save <i class="material-icons right">send</i>
      </button>
      <a class="btn modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  <% end %>
</div>