$("#new-item-div").html("<%= escape_javascript(render(partial: "edit_multiple")) %>");
$("#new-item-div").openModal();


$('.batch_stock, .batch_unit').on('input', function(){ 
  var id = $(this).data('item-id');

  $(".batch_total[data-item-id='"+ id +"']").val(
      $(".batch_unit[data-item-id='"+ id +"']").val() * $(".batch_stock[data-item-id='"+ id +"']").val()
    );
});

$('.batch_total').on('input', function(){
  var id = $(this).data('item-id');

  $(".batch_unit[data-item-id='"+ id +"']").val(
    $(".batch_total[data-item-id='"+ id +"']").val() / $(".batch_stock[data-item-id='"+ id +"']").val()
  );
});
