<div class="row">
  <div class="col s12">
    <div class='card blue-grey darken-1'>
      <div class="heading hvr-underline-from-center">
        <span class="card-title">Search Item</span>
        <i class="material-icons right close">keyboard_arrow_up</i>
      </div>
      <div class='card-content'>
        <div class="search-from">
          <%= search_form_for @q do |f| %>
            <%= f.label 'Name' %>
            <%= f.search_field :name_cont %>

            <div class="hidden-search-menu">
              <%= f.label :name_or_description_or_stock_cont %>
              <%= f.search_field :name_or_description_or_stock_cont %>
            </div>

            <div>
              <button class="btn waves-effect waves-light" type="submit" name="action">Search
                <i class="material-icons right">send</i>
              </button>
              <i class="right small material-icons expand_more">expand_more</i>
              <i class="right small material-icons expand_less">expand_less</i>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    
    <div class='card blue-grey darken-1 '>
      <div class="heading hvr-underline-from-center">
        <span class="card-title">Items List</span>
        <i class="material-icons right close">keyboard_arrow_up</i>
      </div>
      <div class='card-content'>
        <%= form_tag edit_multiple_items_path, method: :get, remote: true, id: 'items_batch_action_form' do %>
          <%= hidden_field_tag :batch_action %>
          <table class="table custom-list">
            <thead>
              <tr>
                <th><%= sort_link(@q, :sequential_id, 'Item #', default_order: :desc) %></th>
                <th><%= sort_link(@q, :name,          'Name',   default_order: :desc) %></th>
                <th><%= sort_link(@q, :state,         'State',   default_order: :desc) %></th>
                <th><%= sort_link(@q, :price,         'Price',  default_order: :desc) %></th>
                <th><%= sort_link(@q, :stock,         'Stock',  default_order: :desc) %></th>
                <th>
                  <a class="dropdown-button" href="#!" data-activates="dropdown1" data-constrainwidth='false'><i class="material-icons">more_vert</i></a> 
                  <ul id="dropdown1" class="dropdown-content">
                    <li><a class="mark_all" data-checkbox-name='item_ids[]'>Mark All</a></li>
                    <li><a class="mark_none" data-checkbox-name='item_ids[]'>Mark None</a></li>
                    <li class="divider"></li>
                    <li><a class="batch_action_items" data-batch-action='add_stock'>Add Stock</a></li>
                    <li><a class="batch_action_items" data-batch-action='set_price'>Set Price</a></li>
                  </ul>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @items.each_with_index do |item, index| %>
                <tr>
                  <td><%= link_to "##{item.sequential_id}", item_path(item.sequential_id), class: "btn btn-success btn-xs" %></td>
                  <td><%= item.name %></td>
                  <td><span class="badge badge-edited badge-item-<%= item.current_state %>"><%= item.current_state.to_s.humanize %></span></td>
                  <td><%= item.sell_price %></td>
                  <td><%= item.stock %></td>
                  <td>
                    <%= check_box_tag "item_ids[]", item.id, false, id: "item_id_#{item.id}" %>
                    <%= label_tag "item_id_#{item.id}", ' ' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>

        <div class="row center-align">
          <%= paginate @items %>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="new-item-div" class="modal modal-fixed-footer modal-large">
</div>


<div class='fixed-action-btn' style="bottom: 45px; right: 24px;">
  <%= link_to new_item_path, remote: true, class: 'btn-floating btn-large red' do %>
    <i class='large material-icons'>add</i>
  <% end %>
</div>
  
