<div class="row">
  <div class="col s12">

    <div class="card blue-grey darken-1">
      <div class="card-content-full-height card-content white-text">
        <span class="card-title">
          <%= image_tag @item.documents.first.image.url(:thumb) if @item.documents.present? %>
          <%= @item.name %>
          <span class="badge badge-item-<%= @item.current_state %>"><%= @item.current_state.to_s.humanize %></span>
        </span>
        <p><%= @item.description %></p>
        <hr/>
        <table class="hover-feedback">
          <tr>
            <td>Category</td>
            <td><%= @item.category.name %></td>
          </tr>
          <tr>
            <td>Sell Price</td>
            <td><%= @item.sell_price %></td>
          </tr>
          <tr>
            <td>Current Stock</td>
            <td><%= @item.stock %></td>
          </tr>
          <tr>
            <td>Stock Threshold</td>
            <td><%= @item.stock_threshold %></td>
          </tr>
          <tr>
            <td>Code</td>
            <td><%= @item.code %></td>
          </tr>
        </table>         
      </div>
      <div class="card-action">
        <a href="#add_stock_modal" class="waves-effect waves-light btn modal-trigger">Add Stock</a>
        <%= link_to 'Edit', edit_item_path(@item.sequential_id), remote: true, class: "waves-effect waves-light btn" %>
        <% if @item.discontinued? %>
          <%= link_to 'Activate', activate_item_path(@item.sequential_id), data: {:confirm => 'Are you sure?'}, method: :patch, class: "waves-effect waves-light btn" %>
        <% else %>
          <%= link_to 'Discontinue', discontinue_item_path(@item.sequential_id), data: {:confirm => 'Are you sure?'}, method: :patch, class: "waves-effect waves-light btn" %>
        <% end %>
        <a class="waves-effect waves-light btn activator right">History<i class="material-icons right">more_vert</i></a>
      </div>
      <div class="card-reveal grey lighten-2">
        <span class="card-title grey-text text-darken-4">History <i class="material-icons right">close</i></span>
        <ul class="collection">
          <li class="divider"></li>
          <% @histories.each do |history| %>
            <li class="collection-item avatar history-item">
              <% if history.stock_quantity > 0 %>
              <i class="material-icons circle black-text green">file_download</i>
               <span class="title">Added <%= history.stock_quantity  %> <%= @item.name %> in stock</span>
              <% else %>
              <i class="material-icons circle black-text red">file_upload</i>
               <span class="title">Sold <%= -1 * history.stock_quantity  %> <%= @item.name %> from stock</span>
              
              <% end %>
              <p> <%= time_ago_in_words(history.created_at) %> ago</p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>

<div id="new-item-div" class="modal modal-fixed-footer modal-large">
</div>

<div id="add_stock_modal" class="modal modal-fixed-footer">
  <%= form_for @item, url: {action: :add_stock} , method: :patch, class: 'form-horizontal' do %>
    <div class="modal-content">
      <h4>Add Stock</h4>
      <p>Add some stock to your item...</p>
      <div>
        <label>Stock: </label>
        <input type="number" name='stock_quantity' id='stock_quantity' step="any" min="0" />
      </div>
      <div>
        <label>Unit Price: </label>
        <input type="number" name='unit_price' id='unit_price' step="any" min="0" />
      </div>
      <div>
        <label>Total Price: </label>
        <input type="number" name='total_price' id='total_price' step="any" min="0" />
      </div>
    </div>
    <div class="modal-footer">
        <button class='btn waves-effect waves-light btn-flat' type="submit" name="action">Add <i class='material-icons right'>send</i></button>
        <a class='btn modal-action modal-close waves-effect waves-red btn-flat'>Cancel</a>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('#stock_quantity, #unit_price').on('input', function(){ 
    $('#total_price').val($('#unit_price').val() * $('#stock_quantity').val());
  });
  $('#total_price').on('input', function(){
    $('#unit_price').val($(this).val() / $('#stock_quantity').val());
  });
</script>

