// Global
body{
  background-color: #e6e8ea;
}

.heading{
  cursor: pointer;
  background-color: #23272D;
  color: white;
  padding: 0px 8px;
  font-weight: bold;
  height: 40px;
  width: 100%;
}

/* Left Navbar */
ul.side-nav.fixed{
  background-color: #23272d;
  width: 200px;
}
// left-padding for the fixed left navbar 
header, main, footer {
  padding-left: 200px;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

ul.side-nav.fixed .navigation{
  padding-left: 10px;
}

ul.side-nav.fixed a{
  color: white;
  height: 45px;
  line-height: 45px;
}
ul.side-nav li:hover, ul.side-nav li.active {
  background-color: rgba(0, 0, 0, 0.58);
}
ul.side-nav li{
  height: 50px;
  padding: 0;
}

ul.side-nav li.store_logo{
  text-align: center;
}
ul.side-nav li.user_links{
  height: 70px;
  margin-top: 1.5rem;
}
ul.side-nav .user_links .avatar {
  float: left;
  margin-left: 1em;
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}
ul.side-nav .user_links .name{
  position: relative;
  left: 8px;
  color: white;
  font-variant: small-caps;
  font-weight: bolder;
}
ul.side-nav .user_links .actions{
  position: relative;
  left: 8px;
  top: -30px;
}
ul.side-nav .user_links .actions a{
  display: inline;
  padding: 1px;
}

ul.side-nav a i.material-icons{
  display: inline; 
  position: relative;
  top: 5px; 
}


/* Top menu bar */
nav.top-bar{
  height:50px
}
nav.top-bar .brand-logo{
  width:200px;
  border-right: 1px solid #E5E5E5;
  text-align: center;
}
nav.top-bar .nav-wrapper > ul, nav.top-bar .nav-wrapper > ul li{
  height: 100%;
}
nav.top-bar ul li, nav.top-bar ul li a{
  color:black;
}
nav.top-bar .nav-wrapper a, nav.top-bar .nav-wrapper i.tiny{
  height: 100%;
  font-size: 1rem;
}
nav.top-bar .nav-wrapper i.tiny:before{
  height: 100%;
}
nav.top-bar .nav-wrapper .dropdown-button a {
  height: 100%;
}

