/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree
 */


/*  these are general styles used throughout the app for more/less details */
.hidden-search-menu{
  display: none;
}
i.expand_more{
  cursor: pointer;
}
i.expand_less{
  display: none;
  cursor: pointer;
}
/**************************************************************************/

table.custom-list tr td{
  padding-top: 2px;
  padding-bottom: 2px;
}
.card span.badge-edited{
  position: relative;
}

