
.card span.badge.badge-item-available{
  background-color: #00c853;
  color: white;
}
.card span.badge.badge-item-discontinued{
  background-color: white;
  color: black;
}
.card span.badge.badge-item-low_stock{
  background-color: yellow;
  color: black;
}
.card span.badge.badge-item-out_of_stock{
  background-color: red;
  color: white;
}
table.hover-feedback tr:hover{
  transition: background-color 2s ease;
  background-color: #475156;
}
ul.collection li.collection-item.history-item{
  min-height:65px;
  height:65px;
}

// for barcode show
table.barby-barcode { border-spacing: 0; }
tr.barby-row {}
td.barby-cell { width: 3px; height: 100px; }
td.barby-cell.on { background: #000; }
