/* CSS used here will be applied after bootstrap.css */

/* User menu dropdown */
#user_menu{
  min-width: 200px;
}

/* Notifications Dropdown  */
.notifications {
  min-width:420px;
  z-index: 99;
}
.notifications-wrapper {
  overflow:auto;
  max-height: 450px;
}

.notifications .heading{
  height: 60px;
}
.notifications .heading i{
  color: white;
}
 
// items in notifications
.notif-wrapper{
  min-height: 200px;
  max-height: 450px;
  overflow: hidden;
}
.notifications .notifications-wrapper .notif-item{
  padding: 6px 10px;
  height: 70px;
}
.notifications .notifications-wrapper .notif-item i{
  font-size: 3rem;
  bottom: 7px;
  position: relative;
}

