span.badge.badge-draft{
  background-color: #eceff1;
}
span.badge.badge-paid{
  background-color: #00c853;
  color: white;
}
span.badge.badge-return{
  background-color: #e57373;
  color: white;
}
span.badge.badge-void{
  background-color: grey;
  color: white;
}

.order-show .badge{
  position: relative;
  right: 0px;
}


/* Order New Page */
.order-form-fixed-height{
  // height: 100%;
  height: 500px; // should be increased or made responsive according to height later
}
.order-form-fixed-height .card-content{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 40px;
  bottom: 78px;
  overflow-y: auto;
}
.order-form-fixed-height .card-action{
  position: absolute;
  width: 100%;
  height: 78px;
  bottom: 0px;
}
.order-form-fixed-height .card-action .row{
  margin-bottom: 0px;
}
.order-form-fixed-height td .item-count{
  width: 70px;
  text-align: center;
}
.order-form-fixed-height tr td {
  padding: 2px;
}

.order-items-list .material-icons{
  cursor: pointer;
  padding: 2px;
}

/* Order Ready */
.order-ready label, .order-ready input:disabled{
  color: white;
}


