@media print{
  .no-print{
    display: none;
  }
}
.no-margin{
  margin: 0;
}
.no-padding{
  padding: 0;
}
.inline{
  display: inline !important;
}

.modal-large{
  min-height: 90%;
  top: 5% !important;
}

