<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default shadow item-heading">
      <div class="panel-body">
        <div class="table-responsive col-md-12 row-fluid">
          <table class="table table-bordered table-striped order-items-list">
            <thead>
              <tr>
                <th>
                  Id
                </th>
                <th>
                  Name
                </th>
                <th>
                 Description 
                </th>
              </tr>
            </thead>
            <tbody>
              <% @categories.each do |category| %>
                <tr>
                  <td><%= link_to "##{category.id}", category, class: "btn btn-success btn-xs" %></td>
                  <td><%= category.name %> </td>
                  <td><%= category.description %></td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
