.row.activities
  .col.s6
    .card
      .card-content
        span.card-title.black-text Most Active Time
        = pie_chart @activities.group_by_hour_of_day(:created_at, format: "%l %P").count

  .col.s6.collection.with-header.white
    ul
      li.collection-header
        h4 
          | Activities
      = render_activities @activities
    .row.center-align
      = paginate @activities

