= form_for @expense do |f|
  - if @expense.errors.any?
    #error_explanation
      h2 = "#{pluralize(@expense.errors.count, "error")} prohibited this expense from being saved:"
      ul
        - @expense.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :amount
    = f.number_field :amount, value: 0
  .field
    = f.label :date
    = f.date_field :date, class: 'datepicker', placeholder: 'Date to pay'
  .field
    = f.label :is_paid
    p
      = f.radio_button :is_paid, :true, id: 'test2' 
      //, onclick: "$(\"[name='expense[is_paid]'][value='true']\").prop('checked',true);"
      label for="test2" Yes
    p
      = f.radio_button :is_paid, :false, class: 'with-gap', id: 'test3' 
      //, onclick: "$(\"[name='expense[is_paid]'][value='false']\").prop('checked',true);"
      label for="test3" No
    
    /  = f.check_box :is_paid
  .field
    = f.label :description
    = f.text_area :description, class: 'materialize-textarea', placeholder: 'Some description'


  .actions = f.submit
