.row
  .col.s12

    .card.blue-grey.darken-1
      .card-content
        span.card-title.grey-text Expenses
        - data = @expenses.group(:is_paid).sum(:amount)
        = bar_chart [{name: 'Paid', data: {"Paid" => data[true]}},{name: 'Pending', data: {"Pending" => data[false]}}], height: "150px", colors: ["#2B2", "red"], library: { backgroundColor: "#fff" }

    .card.blue-grey.darken-1
      .card-content
        span.card-title.grey-text List

        table
          thead
            tr
              th Amount
              th Date
              th Paid
              th Description
              th

          tbody
            - @expenses.each do |expense|
              tr
                td = expense.amount
                td = expense.date
                td 
                  - if expense.is_paid?
                    a.btn.disabled   Yes 
                  - else
                    a.btn.disabled.red.white-text No
                td = expense.description
                td
                  = link_to 'Show', expense
                  |  | 
                  = link_to 'Edit', edit_expense_path(expense)
                  |  | 
                  = link_to 'Destroy', expense, data: {:confirm => 'Are you sure?'}, :method => :delete



.fixed-action-btn style="bottom: 45px; right: 24px;"
  a.btn-floating.btn-large.red.modal-trigger href='#new-expense-class'
    i.large.material-icons add


#new-expense-class.modal.modal-fixed-footer.modal-large
  - @expense = current_user.store.expenses.new
  = form_for @expense do |f|
    .modal-content
      h1.black-text New Expense
      .row
        .input-field
          = f.label :amount, for: 'expense_amount'
          = f.number_field :amount, required: true
      .row
        .input-field
          = f.label :date, for: 'expense_date'
          = f.date_field :date, class: 'datepicker'
      .row
        .input-field
          / = f.label :is_paid, for: 'test2'
          p
            = f.radio_button :is_paid, :true, id: 'test2'
            //, onclick: "$(\"[name='expense[is_paid]'][value='true']\").prop('checked',true);"
            label for="test2" Paid
          p
            = f.radio_button :is_paid, :false, class: 'with-gap', id: 'test3'
            //, onclick: "$(\"[name='expense[is_paid]'][value='false']\").prop('checked',true);"
            label for="test3" Pending
          
          /  = f.check_box :is_paid
      br
      .row
        .input-field
          = f.label :description, for: 'expense_description'
          = f.text_area :description, class: 'materialize-textarea'

    .modal-footer
      button.btn.waves-effect.waves-light.btn-flat type="submit" name="action" 
        | Add
        i.material-icons.right send
      a.btn.modal-action.modal-close.waves-effect.waves-red.btn-flat Cancel


/ .fixed-action-btn style="bottom: 45px; right: 24px;"
/   a.btn-floating.btn-large.red
/     i.large.material-icons mode_edit
/   ul
/     li
/       a.btn-floating.red
/         i.large.material-icons insert_chart
/     li
/       a.btn-floating.yellow.darken-1
/         i.large.material-icons format_quote
/     li
/       a.btn-floating.green
/         i.large.material-icons publish
/     li
/       a.btn-floating.blue
/         i.large.material-icons attach_file

