p#notice = notice

p
  strong Amount:
  = @expense.amount
p
  strong Date:
  = @expense.date
p
  strong Is paid:
  = @expense.is_paid
p
  strong Description:
  = @expense.description
p
  strong Store:
  = @expense.store_id
p
  strong User:
  = @expense.user_id

= link_to 'Edit', edit_expense_path(@expense)
'|
= link_to 'Back', expenses_path
