.row
  .col.s12.m12
    .card
      .heading.hvr-underline-from-center
        span.card-title Most Active Time
        i.material-icons.right.close keyboard_arrow_up
      .card-content
        svg id="graph"


