.row
  .col.s12

    .card.blue-grey.darken-1
      .card-content
        .center
          = form_tag store_employees_path, method: :get, class: ''
            = date_field_tag :date, "#{params[:date]}", placeholder: 'Select Day', class: 'datepicker', style: 'width: 50%'
            button.btn.waves-effect.waves-light type="submit" name="action"
              | Go
              imaterial-icons.right send

    .card.blue-grey.darken-1
      .card-content
        span.card-title.grey-text List
        table.custom-list
          thead
            tr
              / th 
              /   input type="checkbox" id="employee-all" name="employee-checkall" class='filled-in selectall' data-checkbox-name='employee-checkbox'
              /   label for="employee-all" 

              /   a.dropdown-button.btn href='#' data-activates='employee-mass-action' data-constrainwidth='false' data-beloworigin="true" Actions
              /   // Dropdown Structure
              /   ul#employee-mass-action.dropdown-content
              /     li
              /       a href="#!" id='mass_mark_present' Mark Present
              /     li
              /       a href="#!" id='mass_mark_absent' Mark Absent
              th ID#
              th Status
              th Name
              th Email
              / th Salary
              / th Joined
              th
                input type="checkbox" id="employee-all" name="employee-checkall" class='filled-in selectall' data-checkbox-name='employee-checkbox'
                label for="employee-all" 

                a.dropdown-button.btn href='#' data-activates='employee-mass-action' data-constrainwidth='false' data-beloworigin="true" style='top: -50px; left: -45px;   padding: 1px 10px;'
                  i.material-icons arrow_drop_down
                // Dropdown Structure
                ul#employee-mass-action.dropdown-content
                  li
                    a href="#!" id='mass_mark_present' Mark Present
                  li
                    a href="#!" id='mass_mark_absent' Mark Absent
          tbody
            - @employees.each do |employee|
              tr
                / td
                /   input type="checkbox" id="employee-#{employee.sequential_id}" name='employee-checkbox' class='checkme' data-select-all='employee-checkall' data-sequential-id="#{employee.sequential_id}"
                /   label for="employee-#{employee.sequential_id}" 
                /     = employee.attendences.where('attendences.created_at > ? and attendences.created_at < ?', @date.to_datetime, @date.to_datetime.end_of_day).any? ? 'Present' : 'Absent'
                td
                  span id="employee-id-#{employee.sequential_id}" class="btn btn-success btn-xs"
                    = "##{employee.sequential_id}"
                td
                  - employee_status = employee.attendences.where('attendences.created_at > ? and attendences.created_at < ?', @date.to_datetime, @date.to_datetime.end_of_day).any? ? 'Present' : 'Absent'
                  span[class="badge badge-#{employee_status}"]
                    = employee_status
                td 
                  span id="employee-name-#{employee.sequential_id}"
                    = employee.name
                td 
                  span id="employee-email-#{employee.sequential_id}"
                    = employee.email
                / td 
                /   span id="employee-monthly-salary-#{employee.sequential_id}"
                /     = employee.monthly_salary
                / td 
                /   span id="employee-joined-#{employee.sequential_id}"
                /     = employee.joined.try(:strftime, "%-d %B, %Y")
                td
                  / = link_to 'Edit', '#edit-employee-modal', 'data-id' => employee.sequential_id, class: 'modal-trigger edit-employee-class'
                  input type="checkbox" id="employee-#{employee.sequential_id}" name='employee-checkbox' class='checkme' data-select-all='employee-checkall' data-sequential-id="#{employee.sequential_id}"
                  label for="employee-#{employee.sequential_id}" 


.fixed-action-btn style="bottom: 45px; right: 24px;"
  a.btn-floating.btn-large.red.modal-trigger href='#new-employee-modal'
    i.large.material-icons add

#new-employee-modal.modal.modal-fixed-footer.modal-large
  = form_tag store_new_employee_path, method: :post do |f| 
    .modal-content
      .row
        .input-field
          = text_field_tag :name, '', autofocus: true
          label Name

      .row
        .input-field
          = email_field_tag :email, ''
          label Email

      .row
        .input-field
          = password_field_tag :password, '', autocomplete: 'off'
          label Password

      .row
        .input-field
          = password_field_tag :password_confirmation, '', autocomplete: 'off'
          label Password Confirmation

      .row
        .input-field
          = number_field_tag :monthly_salary, '', min: 0
          label Monthly Salary

      .row
        .input-field
          = date_field_tag :joined, '', class: 'datepicker'
          label Joined

    .modal-footer
      button.btn.waves-effect.waves-light.btn-flat type="submit" name="action" 
        | Submit
        i.material-icons.right send
      a.btn.modal-action.modal-close.waves-effect.waves-red.btn-flat Close


#edit-employee-modal.modal.modal-fixed-footer.modal-large
  = form_tag store_edit_employee_path, method: :patch do |f| 
    = hidden_field_tag :sequential_id, '', id: 'edit-employee-sequential-id'
    .modal-content
      .row
        .input-field
          = text_field_tag :name, '', autofocus: true, id: 'edit-employee-name', placeholder: 'name'
          label Name

      .row
        .input-field
          = email_field_tag :email, '', id: 'edit-employee-email', placeholder: 'email'
          label Email

      .row
        .input-field
          = password_field_tag :password, '', autocomplete: 'off', id: 'edit-employee-password'
          label Password <i>(leave blank if you don't want to change it)</i>

      .row
        .input-field
          = password_field_tag :password_confirmation, '', autocomplete: 'off', id: 'edit-employee-password-confirmation'
          label Password Confirmation

      .row
        .input-field
          = number_field_tag :monthly_salary, '', min: 0, id: 'edit-employee-monthly-salary', placeholder: 'salary'
          label Monthly Salary

      .row
        .input-field
          = date_field_tag :joined, '', class: 'datepicker', id: 'edit-employee-joined', placeholder: 'date joined'
          label Joined

    .modal-footer
      button.btn.waves-effect.waves-light.btn-flat type="submit" name="action" 
        | Submit
        i.material-icons.right send
      a.btn.modal-action.modal-close.waves-effect.waves-red.btn-flat Close

