.row
  .col.s12.m12
    .card.blue-grey.darken-1.white-text
      .heading.hvr-underline-from-center
        span.card-title Store Settings
        i.material-icons.right.close keyboard_arrow_up
      = form_for @store ,:html => { :multipart => true } do |f|
        .card-content
          .row.showcase
            = image_tag current_user.store.logo.image(:thumb), class: "col s2 m2" if current_user.store.logo.present?
            p.col.s8.m8
              h5  = current_user.store.name
              strong  Address: 
              = current_user.store.address
          hr    
            .input-field
              = f.text_field :name, class: "validate", required: "required"
              = f.label :name
            .input-field.file-field
              input.file-path.validate type="text" placeholder="select logo..."
              .btn
                span File
                = file_field_tag :image 
            .input-field
              = f.text_area :address, class: "materialize-textarea"
              = f.label :address
        .card-action
            = f.submit "Save", class: "btn add-item-btn right"
            br

