

  <%= form_for @store do |f| %>
    <div class="form-group">
      <%= f.label :name, class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :name, class: "form-control", required: "required" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :address, class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <%= f.text_area :address, class: "form-control", rows: "3" %>
      </div>
    </div>

    <div class="actions row pull-right">
      <%= f.submit "Save", class: "btn btn-primary btn-md add-item-btn" %>
    </div>
  <% end %>



