<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>


<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |

