li
  span
    i.material-icons image_loupe
  small.text-muted
    = a.created_at.strftime('%H:%M:%S %-d %B %Y') 
    br
  strong
    = activity.owner ? activity.owner.name : 'nil' 
  - if a.trackable 
    | added 
    = link_to a.trackable.name, a.trackable 
  - else 
    | added an item that is currently deleted.
