<div class="flash messages-container" align="center">
  	<% flash.each do |key, value| %>
    <% unless key.to_s == "schedule" %>
      <div class="alert alert-<%= key %>" >
        <%= value %>
        <a href="#" data-dismiss="alert" class="close">×</a>
      </div>
    <% end %>  
  <% end %>  
</div>
 <script type="text/javascript">
  $(document).ready(function(){
    $('.close').click(function(){
      $(this).closest('.messages-container').slideUp('slow');
    });
  });
</script>