<!DOCTYPE html>
<html>
<head>
  <title>
    <%= current_user ? current_user.store.name.humanize : "Storster"  %>
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

  <% if user_signed_in? %>
    <nav class="top-bar white lighten-1">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo left black-text">
          <strong>Pi</strong>Store
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a class="dropdown-button" data-activates='activities-menu' href="#" data-beloworigin="true">
              <i class='tiny material-icons'>public</i>
            </a>
          </li>
          <li>
            <a class="dropdown-button" data-activates='user_menu' href="#" data-beloworigin="true">
              <span><%= current_user.store.name.humanize %></span>
              <i class='tiny inline material-icons'>arrow_drop_down</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="side-nav fixed">
      <li class="store_logo" style="background-color: white;">
        <a href="/" class="black-text"><strong>Pi</strong>Store</a>
      </li>
      <li class="user_links">
        <%= image_tag current_user.store.logo.image(:thumb), class: "avatar" if current_user.store.logo.present? %>
        <p class="name"> <%= current_user.store.name %> </p>
        <div class="actions">
          <%= link_to store_settings_path do %>
            <i class='tiny material-icons'>settings</i>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class='tiny material-icons'>exit_to_app</i>
          <% end %>
        </div>
      </li>
      <div class="navigation grey-text">
        <b>Navigation</b>
      </div>
      <li class="<%='active' if params[:controller]=='Application'%>">
        <%= link_to "<i class='material-icons'>home</i> Dashboard".html_safe, root_path, class: "waves-effect waves-light " %>
      </li>
      <li class="<%='active' if params[:controller]=='items'%>">
        <%= link_to "<i class='material-icons'>list</i> Items".html_safe, items_path, class: "waves-effect waves-light" %>
      </li>
      <li class="<%='active' if params[:controller]=='orders'%>">
        <%= link_to "<i class='material-icons'>shopping_cart</i> Orders".html_safe , orders_path, class: "waves-effect waves-light" %>
      </li>
      <li class="<%='active' if params[:controller]=='expenses'%>">
        <%= link_to "<i class='material-icons'>attach_money</i> Expenses".html_safe , expenses_path, class: "waves-effect waves-light" %>
      </li>
      <li class="<%='active' if params[:controller]=='todos'%>">
        <%= link_to "<i class='material-icons'>alarm_on</i> ToDo's".html_safe , to_dos_path, class: "waves-effect waves-light" %>
      </li>
      <% if user_signed_in? && current_user.is_admin? %>
        <li class="<%='active' if params[:controller]=='reports'%>">
          <%= link_to "<i class='material-icons'>insert_chart</i> Reports".html_safe, reports_path, class: "waves-effect waves-light" %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= render :partial=>"/layouts/messages" %>

  <main <%= 'style=padding-left:0px;' unless user_signed_in? %> >
    <%= yield %>
  </main>

  <!-- dropdown -->
  <% if current_user %>
    <ul class="dropdown-content notifications" id='activities-menu' >
      <div class="heading">
        Activities
        <%= link_to activities_path, class: "right" do %>
          <i class='tiny material-icons'>send</i>
        <% end %>
      </div>
      <div class="notifications-wrapper">
       <%= render_activities @activities.limit(10).order('created_at DESC') %>
      </div>
      <div class="">      
      </div>
    </ul>

    <ul class="dropdown-content" id='user_menu'>
      <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
      <% if current_user.is_admin? %>
        <li><%= link_to 'Settings',   store_settings_path %></li>
        <li><%= link_to 'Employees',  store_employees_path %></li>
      <% end %>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    </ul>
  <% end %>

</body>
</html>
